@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>
@{
    ViewBag.Title = "Admin";
}

@foreach (var user in Model)
{
    <table class="table">
        <tr>
            <td>
                <a asp-action="AdminDetails" asp-controller="home" asp-route-id="@user.Id">@Html.DisplayFor(modelItem => user.Email)</a>
            </td>
        </tr>
    </table>
}
