@model WebsiteMathTasks.Models.Task
@{
    ViewBag.Title = Model.Name;
}
<h2>Title @Model.Name</h2>
<div>
    <dl class="dl-horizontal">
        <dt>Id</dt>
        <dd>@Model.Id</dd>

        <dt>Сondition</dt>
        <dd>@Model.Сondition</dd>
    </dl>
</div>