@model IEnumerable<WebsiteMathTasks.Models.Task>
@{
    ViewBag.Title = "All tasks";
}
<a asp-action="Create">add task</a>
<table class="table">
    <tr><td>Title</td><td>Сondition</td><td>Theme</td><td>Tag</td></tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    <a asp-action="Details" asp-controller="Home" asp-route-id="@item.Id">Open</a> |
                    <a asp-action="Edit" asp-controller="Home" asp-route-id="@item.Id">Create</a> |
                    <a asp-action="Delete" asp-controller="Home" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
</table>